.sample1 {
font-family: 'Ultra', sans-serif;
font-size: 2.5rem;
color: #000000;
}
.sample1p {
    font-family: 'Ultra', sans-serif;
    font-size: 12px;
    color: #000000;
    }

.sample2 {
    font-family: 'Life Savers', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample2p {
    font-family: 'Life Savers', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample3 {
    font-family: 'Karma', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample3p {
    font-family: 'Karma', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample4 {
    font-family: 'Gentium Book Basic', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample4p {
    font-family: 'Gentium Book Basic', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample5 {
    font-family: 'Federant', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample5p {
    font-family: 'Federant', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample6 {
    font-family: 'Expletus Sans', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample6p {
    font-family: 'Expletus Sans', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample7 {
    font-family: 'Ewert', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample7p {
    font-family: 'Ewert', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample8 {
    font-family: 'Englebert', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample8p {
    font-family: 'Englebert', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample9 {
    font-family: 'Elsie Swash Caps', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample9p {
    font-family: 'Elsie Swash Caps', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample10 {
    font-family: 'Eczar', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample10p {
    font-family: 'Eczar', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample11 {
    font-family: 'Eagle Lake', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample11p {
    font-family: 'Eagle Lake', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample12 {
    font-family: 'Croissant One', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample12p {
    font-family: 'Croissant One', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample13 {
    font-family: 'Comfortaa', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample13p {
    font-family: 'Comfortaa', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample14 {
    font-family: 'Cherry Cream Soda', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample14p {
    font-family: 'Cherry Cream Soda', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample15 {
    font-family: 'Charm', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample15p {
    font-family: 'Charm', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample16 {
    font-family: 'Berkshire Swash', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample16p {
    font-family: 'Berkshire Swash', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample17 {
    font-family: 'Autour One', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample17p {
    font-family: 'Autour One', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample18 {
    font-family: 'Amarante', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample18p {
    font-family: 'Amarante', sans-serif;
    font-size : 12px;
    color: #000000;
}
.sample19 {
    font-family: 'Aclonica', sans-serif;
    font-size : 2.5rem;
    color: #000000;
}
.sample19p {
    font-family: 'Aclonica', sans-serif;
    font-size : 12px;
    color: #000000;
}
